[project]
	description = this is the first web project
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/RAVI KUMAR (ravi1609)
[access "refs/for/refs/*"]
	read = group user/RAVI KUMAR (ravi1609)
	push = group user/RAVI KUMAR (ravi1609)
	label-Code-Review = -2..+2 group user/RAVI KUMAR (ravi1609)
	label-Verified = -1..+1 group user/RAVI KUMAR (ravi1609)
	rebase = group user/RAVI KUMAR (ravi1609)
	removeReviewer = group user/RAVI KUMAR (ravi1609)
	submit = group user/RAVI KUMAR (ravi1609)
[access "refs/heads/*"]
	read = group user/RAVI KUMAR (ravi1609)
	create = group user/RAVI KUMAR (ravi1609)
	push = +force group user/RAVI KUMAR (ravi1609)
	pushMerge = group user/RAVI KUMAR (ravi1609)
[access "refs/tags/*"]
	push = group user/RAVI KUMAR (ravi1609)
	push = +force group user/RAVI KUMAR (ravi1609)
